<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<header class="row">
		<div class="col">
			<div th:replace="~{views/admin/fragments/header :: header}"></div>
		</div>
	</header>
	<main class="container">
		<!--  	<nav class="row">
			<div class="col">
				<div th:replace="~{views/admin/fragments/nav :: nav}"></div>
			</div>
		</nav> -->	
		<section class="row mt-4">
			<div class="col mt-5 mb-5">
				<div layout:fragment="content"></div>
			</div>
		</section>
	</main>
	<footer class="row">
		<div class="col">
			<div th:replace="~{views/admin/fragments/footer :: footer}"></div>
		</div>
	</footer>
</body>
</html>
